<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-4 logo-footer">
      <a class="navbar-brand" href="#">
        <img class="logo" src="../images/logo1.png" width="150" height="45" alt="logo">
      </a>
    </div>
    <div class="col-xs-12 col-lg-4 email">
      <i class="fas fa-envelope">lanafox.photography&#64;gmail.com</i>
    </div>
    <div class="col-xs-12 col-lg-4 phone">
      <i class="fas fa-phone-square">+380987034015</i>
    </div>
  </div>
</div>
<div class="footer-copyright">
  &#169; 2019 Copyright Lana Fox
</div>