<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
        <a class="navbar-brand" href="../views/index.html">
            <img class="logo" src="../images/logo.png" width="250" height="100" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../views/index.html#block-about">ABOUT ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/photos.html">PHOTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/contact.html">CONTACT</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-pinterest"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>