html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: auto;
  min-height: 100%;
  padding: 0 0 190px;
  position: relative;
}

@include media-breakpoint-up(lg) {
  .wrapper {
    padding: 0 0 90px;
  }
}

a {
  color: $primary;

  &:hover {
    color: $primary-hightlighted;
  }

  &:active {
    color: $primary-active;
  }

  &.disabled {
    color: $primary-disabled;
  }
}

.logo {
  margin: auto;
}

.nav-item {
  margin-left: 20px;

  a {
    font-family: $font-family;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 3px;
  }
}

@include media-breakpoint-down(md) {
  .nav-page {
    border-bottom: 1px solid $grey;
    padding-bottom: 10px;
  }

  .nav-social {
    padding-top: 10px;
  }
}

.phone,
.email {
  color: $black;
  font-family: $font-family;
  font-size: large;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 10px;
  text-align: center;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
}

.jumbotron {
  background-color: $alabaster;
  line-height: 2;
  margin: 30px 10px 10px;
}

.footer {
  background-color: $white;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  width: 100%;

  .logo-footer {
    text-align: center;
  }

  .footer-copyright {
    background-color: $alabaster;
    font-size: 10px;
    font-weight: 400;
    height: 100%;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}
