.contact-page {
  background-image: url('/images/bg-contact.jpg');
  background-size: cover;
  min-height: 100vmin;

  .contact-title {
    color: $black;
    font-family: $font-family;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
  }

  .form-control {
    background-color: $transparent-white-85;
  }

  .message-field {
    resize: none;
  }

  .send-button {
    background-color: $dark-grey;
    font-family: $font-family;
    font-size: 1.18rem;
    font-weight: bold;
    width: 100%;
  }

  .contact-req-failed,
  .contact-req-delivered {
    display: none;
  }

  .contact-req-delivered {
    padding: 2.5rem 0;
    text-align: center;
  }

  .jumbotron {
    background-color: $transparent-white-85;
    margin: 60px 0 130px;
    padding: 2rem;
  }
}
