<div class="container-fluid contact-page">
  <div class="row justify-content-md-center">
    <div class="jumbotron col-4">
      <form>
        <h3 class="contact-title">Get in touch!</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Your Email" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="7" placeholder="Message" required></textarea>
        </div>
        <button type="submit" class="btn btn-success send-button">SEND</button>
      </form>
    </div>
  </div>
</div>