<div class="container-fluid contact-page">
  <div class="row justify-content-md-center">
    <div class="jumbotron col-xs-12 col-md-5 col-lg-6">
      <form class="js-contact-form">
        <h3 class="contact-title">Get in touch!</h3>
        <div class="form-group">
          <input type="text" class="form-control js-name-field" placeholder="Your Name" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control js-email-field" placeholder="Your Email" required>
        </div>
        <div class="form-group">
          <textarea class="form-control js-message-field" rows="7" placeholder="Message" required></textarea>
        </div>
        <button type="submit" class="btn btn-secondary send-button">Contact Now</button>
      </form>
    </div>
  </div>
</div>