<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{#if title}}
      <title>{{title}} - Lana Fox Photography</title>
  {{else}}
      <title>Lana Fox Photography</title>
  {{/if}}
  {{#if (productionEnv)}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.min.css">
  {{else}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  {{/if}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  {{> 'favicon'}}
  <script src="/javascripts/main.js"></script>
  {{#if (productionEnv)}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174247094-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-174247094-1');
    </script>
  {{/if}}
</head>

<body>
  <div class="wrapper">
    {{> 'header'}}

    {{{body}}}

    {{> 'footer'}}
  </div>
</body>

</html>