<hr>
<div class="container-fluid gallery-container">
  <div class="photo-gallery">
    <div class="row mb-3">
      {{#each photos}}
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <a class="lightbox" href="{{this}}">
              <img src="{{this}}" alt="" class="card-img-top">
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<hr>