html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: auto;
  min-height: 100%;
  padding: 0 0 190px;
  position: relative;
}

@include media-breakpoint-up(lg) {
  .wrapper {
    padding: 0 0 90px;
  }
}

a {
  color: $primary;

  &:hover {
    color: $primary-hightlighted;
  }

  &:active {
    color: $primary-active;
  }

  &.disabled {
    color: $primary-disabled;
  }
}

.logo {
  margin: auto;
}

.nav-item {
  margin-left: 1.25rem;

  a {
    font-family: $font-family;
    font-size: larger;
    font-weight: 600;
    letter-spacing: .18rem;
  }
}

@include media-breakpoint-down(md) {
  .nav-page {
    border-bottom: 1px solid $grey;
    padding-bottom: .62rem;
  }

  .nav-social {
    padding-top: .62rem;
  }
}

.phone,
.email {
  color: $black;
  font-family: $font-family;
  font-size: large;
  letter-spacing: 0.18rem;
  padding: .62rem;
}

.language-wrapper {

  .language {
    max-width: 1.5rem;
    max-height: 1.5rem;
    opacity: .5;

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(md) {
    .language-en-block {
      text-align: left;
    }

    .language-uk-block {
      text-align: right;
    }
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
}

.jumbotron {
  background-color: $alabaster;
  line-height: 2;
  margin: 1.87rem .62rem .62rem;
}

.footer {
  background-color: $white;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  width: 100%;

  .footer-common {
    background-color: $alabaster;
    font-size: .62rem;
    font-weight: 400;
    height: 100%;
    padding: .62rem;
    width: 100%;
  }
}
