$fa-font-path: '/webfonts';
$white: #fff;
$black: #000;
$grey: #ddd;
$light-grey: #eee;
$alabaster: #f9f9f9;
$dark-grey: #45494c;
$card-bg: $black;
$primary: rgba($black, .5);
$primary-hightlighted: rgba($black, .7);
$primary-active: rgba($black, .9);
$primary-disabled: rgba($black, .3);
$transparent-white-85: rgba($white, .85);
$transparent-white-50: rgba($white, .5);
$font-family: 'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
'Arial',
'sans-serif';
