<footer class="footer text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4">
        <a class="navbar-brand" href="#">
          <img class="logo" src="../images/logo1.png" width="150" height="45" alt="logo">
        </a>
      </div>
      <div class="col-12 col-lg-4 email">
        <i class="fas fa-envelope">
          <a href="mailto:contact@lanafox.info">contact&#64;lanafox.info</a>
        </i>
      </div>
      <div class="col-12 col-lg-3 phone">
        <i class="fas fa-phone-square">
          <a href="tel:+380987034015">+380987034015</a>
        </i>
      </div>
      <div class="col-12 col-lg-1 language-wrapper">
        <div class="row">
          <div class="col-6">
            <a class="language {{#if (equal activeLocale 'uk')}} active {{/if}}" href="?lang=uk">
              <img class="img-fluid" src="../images/language-icons/ukraine.png">
            </a>
          </div>
          <div class="col-6">
            <a class="language {{#if (equal activeLocale 'en')}} active {{/if}}" href="?lang=en">
              <img class="img-fluid" src="../images/language-icons/united-kingdom.png">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 footer-copyright">
        &#169; 2020 Copyright Lana Fox
      </div>
    </div>
  </div>
</footer>