<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4 logo-footer">
        <a class="navbar-brand" href="#">
          <img class="logo" src="../images/logo1.png" width="150" height="45" alt="logo">
        </a>
      </div>
      <div class="col-12 col-lg-4 email">
        <i class="fas fa-envelope">
          <a href="mailto:contact@lanafox.info">contact&#64;lanafox.info</a>
        </i>
      </div>
      <div class="col-12 col-lg-4 phone">
        <i class="fas fa-phone-square">
          <a href="tel:+380733331403">+380733331403</a>
        </i>
      </div>
    </div>
    <div class="row">
      <div class="col-12 footer-copyright">
        &#169; 2020 Copyright Lana Fox
      </div>
    </div>
  </div>
</footer>