<nav class="navbar navbar-expand-lg navbar-light bg-white py-0">
  <a class="navbar-brand" href="/">
    <img class="logo" src="/images/logo.png" width="250" height="100" alt="logo">
  </a>
  <button class="navbar-toggler bg-white"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto nav-page">
      {{#if isHomePage}}
        <li class="nav-item active">
          <a class="nav-link" href="/#block-about">ABOUT ME</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/#block-about">ABOUT ME</a>
        </li>
      {{/if}}
      {{#if isPortfolioPage}}
        <li class="nav-item active">
          <a class="nav-link" href="#">PORTFOLIO</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">PORTFOLIO</a>
        </li>
      {{/if}}
      
      {{#if isContactPage}}
        <li class="nav-item active">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACT</a>
        </li>
      {{/if}}
    </ul>
    <ul class="navbar-nav ml-auto nav-social">
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/lanafox.ph"><i class="fab fa-facebook-f"></i>
          <span class="d-lg-none">Facebook</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.pinterest.com/lanafox_ph"><i class="fab fa-pinterest"></i>
          <span class="d-lg-none">Pinterest</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/lanafox.ph"><i class="fab fa-instagram"></i>
          <span class="d-lg-none">Instagram</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/lanafox_ph"><i class="fab fa-twitter"></i>
          <span class="d-lg-none">Twitter</span>
        </a>
      </li>
    </ul>
  </div>
</nav>