body {

    .logo {
        margin: auto;
    }

    .nav-item {
        margin-left: 20px;

        a {
            font-family: $font-family;
            font-weight: 600;
            font-size: larger;
            color: $black-color;
            letter-spacing: 4px;
        }
    }

    .phone,
    .email {
        font-family: $font-family;
        font-weight: 600;
        font-size: larger;
        color: $black-color;
        letter-spacing: 4px;
    }

    .container-fluid {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .jumbotron {
        margin: 30px 10px 10px 10px;
        background-color: $grey-color;
        line-height: 2;
    }

    .footer-copyright {
        background-color: $grey-color;
        font-weight: 400;
        padding: 10px 10px;
        text-align: center;
        font-size: 10px;
    }
}