$white-color: #fff;
$black-color: #000;
$grey-color: #f9f9f9;
$dark-grey-color: #45494c;
$transparent-grey-color: rgba(255, 255, 255, .5);
$font-family: 'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
'Arial',
'sans-serif';
