.contact-title {
    text-align: center;
    font-weight: 500;
    color: black;
    font-size: 35px;
    margin-bottom: 32px;
}

.contact-page {
    background-image: url(/images/bg-contact.jpg);
}

.contact-page {
    .jumbotron {
        padding: 32px;
        margin-bottom: 30px;
    }
}

.send-button {
    width: 100%;
}