.block-about-title {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.media-body {
    margin-left: 10px;
}

.blockquote-footer {
    text-align: right;
}

.testimonials-title {
    text-align: center;
    margin: 40px 0;
    letter-spacing: 5px;
}