.block-about-title {
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.media-body {
  margin-left: 10px;
}

.blockquote-footer {
  text-align: right;
}

.testimonials-title {
  letter-spacing: 5px;
  margin: 40px 0;
  text-align: center;
}
