.block-about-title {
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.block-carousel {
  padding: 0;

  .carousel {
    padding: 0;
  }
}

.blockquote-footer {
  text-align: right;
}

.testimonials-title {
  letter-spacing: 5px;
  margin: 40px 0;
  text-align: center;
}
