.block-about {
  .block-about-title {
    letter-spacing: 5px;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    text-indent: 20px;
  }
}

.block-carousel {
  padding: 0;

  .carousel {
    padding: 0;
  }
}

.blockquote-footer {
  text-align: right;
}

.testimonials-title {
  letter-spacing: 5px;
  margin: 40px 0;
  text-align: center;
}
