.block-about {
  .block-about-title {
    letter-spacing: .31rem;
    margin-bottom: .9rem;
  }
}

.services {
  background-color: $alabaster;
  border: 1px solid $white;
  line-height: 20rem;
  padding: 0;
  color: $white;
  text-align: center;
  text-shadow: 1px 1px $black;

  &:hover {
    opacity: .85;
    filter: grayscale(.15);
  }
}

@include media-breakpoint-only(xs) {
  .services {
    &:not(:hover) {
      line-height: 5rem;
    }
  }
}

.block-services {
  background-size: cover !important;
  filter: grayscale(1);
  opacity: .7;

  &-portrait {
    @extend .block-services;
    background: url('/images/photos/services/portrait-photo.jpg') $dark-grey;
  }

  &-landscape {
    @extend .block-services;
    background: url('/images/photos/services/landscape-photo.jpg') $dark-grey;
  }

  &-product {
    @extend .block-services;
    background: url('/images/photos/services/product-photo.jpg') $dark-grey;
  }

  &-event {
    @extend .block-services;
    background: url('/images/photos/services/event-photo.jpg') $dark-grey;
  }

  &-wedding {
    @extend .block-services;
    background: url('/images/photos/services/wedding-photo.jpg') $dark-grey;
  }

  &-travel {
    @extend .block-services;
    background: url('/images/photos/services/travel-photo.jpg') $dark-grey;
  }

  &-lifestyle {
    @extend .block-services;
    background: url('/images/photos/services/lifestyle-photo.jpg') $dark-grey;
  }

  &-fashion {
    @extend .block-services;
    background: url('/images/photos/services/fashion-photo.jpg') $dark-grey;
  }
}

.blockquote-footer {
  text-align: right;
}

@include media-breakpoint-down(sm) {
  .block-title {
    font-size: 2.5rem;
  }
}

.block-title {
  letter-spacing: .37rem;
  text-align: center;
}

.testimonials-title {
  font-size: 1.5em;
  letter-spacing: .2rem;
  margin: 1.25rem 0;
  text-align: center;
}

.img-block-testimonials {
  text-align: center;

  img {
   width: 27.5rem;
  }
}
