<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/images/carousel-images/pic2.jpeg" alt="First image">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/carousel-images/pic3.jpeg" alt="Second image">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/carousel-images/pic1.jpeg" alt="Third image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="block-about" id="block-about">
        <div class="jumbotron">
          <div class="row">
            <div class="col-12 col-lg-6 text-justify">
              <div class="block-about-title text-center">
                <h3>Hey there!</h3>
              </div>
              <div class="d-block d-lg-none text-center my-4">
                <img class="img-fluid" src="/images/photo-of-sveta.jpg" alt="photo-of-sveta">
              </div>
              <p>
                My name is Svitlana and I'm a photographer based in Vinnytsia, Ukraine.
                I'm passionate about photography, music, and programming.
                In my work, I usually use the Nikon DSLR camera, which helps me to shoot high-quality photos.
                Also, I'm pretty good at post-processing techniques, so you can be sure I'll bring even more life,
                colors, and style in your photo album!
                I will be happy to help you capture the wonderful moments of your life.
              </p>
              <p>
                Feel free to <a class="link-to-contact-page" href="/contact">contact me</a> and thank you for taking
                time to look at my site and works.
                I hope to meet you in the near future.
              </p>
              <hr class="my-4">
              <div class="blockquote-footer">
                Your personal photographer,
                <cite title="Source Title">
                  Lana Fox
                </cite>
              </div>
            </div>
            <div class="col-12 col-lg-6 text-center d-none d-lg-block my-4 pt-4">
              <img class="img-fluid" src="/images/photo-of-sveta.jpg" alt="Photo of Sveta">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="block-title display-4 my-5">
        SERVICES
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 services block-services-portrait">
      <span>PORTRAIT PHOTOGRAPHY</span>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 services block-services-landscape">
      <span>LANDSCAPE PHOTOGRAPHY</span>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 services block-services-product">
      <span>PRODUCT PHOTOGRAPHY</span>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 services block-services-event">
      <span>EVENT PHOTOGRAPHY</span>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 services block-services-wedding">
      <span>WEDDING PHOTOGRAPHY</span>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 services block-services-lifestyle">
      <span>LIFESTYLE PHOTOGRAPHY</span>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 services block-services-fashion">
      <span>FASHION PHOTOGRAPHY</span>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 services block-services-editing">
      <span>PHOTOGRAPHY EDITING</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="block-title display-4 my-5">
        TESTIMONIALS
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-12">
            <p class="testimonials-title">
              I was happy to work with Svitlana!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6 img-block-testimonials">
            <img class="img-fluid my-3" src="/images/photos/testimonials/maryna.jpg" alt="Photo of Maryna">
          </div>
          <div class="col-12 col-lg-6 text-justify">
            <p>
              Svitlana, I'm extremely gladful for your excellent work and big efforts.
              You're always a nice and positive person. 
            </p>
            <p>
              I used to be shy and usually, I feel a bit uncomfortable on the photosession.
              But with you, it was a completely different thing.
              I was able to relax and have fun.
            </p>
            <p>
              As a result, we created a set of really incredible photos!
              I want to look at them again and again :)
              Some of them revealed to me differently over time and I like them even more now.
              On the photos, I'm always real and that's what I really appreciate. 
            </p>
            <p>
              I look forward to working with you again!
            </p>
            <hr>
            <div class="blockquote-footer">
              Vinnytsia,
              <cite title="Source Title">
                Maryna
              </cite>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
