<hr>
<div class="container-fluid gallery-container">
  <div class="photo-gallery">
    
      {{#each photos as | line |}}
        <div class="row">
          {{#each line as | photo |}}
            <div class="col-xs-12 col-lg-4 mb-3">
              <div class="card">
                <a class="lightbox" href="{{photo.photo}}">
                  <img src="{{photo.preview}}" alt="{{photo.altText}}" class="card-img-top">
                </a>
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
    
  </div>
</div>
<hr>